<div class="row">
    <button type="button" class="btn btn-success ml-4 my-2" routerLink="/form/add">ADD COUNTRY</button>
</div>
<div id="table">
    <table class="table table-boarded">
        <thead>
            <tr>
                <th>#</th>
                <th>ACTIONS</th>
                <th>Country</th>
                <th>Capital</th>
                <th>Population</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; let index = index">
                <td><button type="button" class="btn btn-sm btn-primary" [routerLink]="['/form/edit', country.id]">EDIT</button></td>
                <td><button type="button" class="btn btn-sm btn-danger" (click)="deleteCountry(country.id)">DELETE</button></td>
                <td>{{index + 1}}</td>
                 <td>{{country.countryName}}</td>              
                 <td>{{country.countryCapital}}</td>              
                 <td>{{country.population}}</td>              
                 <td><img [src]="country.flag" style="height: 50px;"/></td>              
            </tr>
        </tbody>
    </table>
</div>