<section>
    <div class="container">
      <div class="card">
        <div class="card-img" [style]="imgSrc"></div>
        <div class="card-body">
          <h5 class="card-title">Shiba inu</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
         <a href="" class="btn btn-outline-success btn-sm">Read More</a>
        </div>
       </div>
  </div>
  </section>
