<div class="mb-4">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <span class="navbar-brand" [ngClass]="{'your-nameI': !styleOn, 'your-nameII': styleOn}" (click)="styleOn = !styleOn">{{title}}</span>
        <button type="button" class="navbar-toggler" data-toggle="collapse" da-ta-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <!-- <a href="#" class="nav-item nav-link" (click)="onClick(1)">Playground</a>
                <a href="#" class="nav-item nav-link" (click)="onClick(2)">Table</a>
                <a href="#" class="nav-item nav-link" (click)="onClick(3)">Form</a>
                <a href="#" class="nav-item nav-link" (click)="onClick(4)">login</a> -->
                <a href="#" class="nav-item nav-link" routerLink="/playground">Playground</a>
                <a href="#" class="nav-item nav-link" routerLink="/table">Table</a>
                <a href="#" class="nav-item nav-link" routerLink="/form">Form</a>
                <a href="#" class="nav-item nav-link" routerLink="/login">login</a>
            </div>
        </div>
    </nav>
  </div>


