.your-nameI {
  color: rgb(90, 85, 85);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
  cursor: pointer;
}

.your-nameII {
  color: rgb(51, 95, 176);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0;
  cursor: pointer;
}