<section class="vh-100 gradient-custom">
    <div class="container">
      <form class="form-signin" [formGroup]="countryForm" (ngSubmit)="onSubmit()">
         <h2>Fill the form</h2>
          <div id="data" class="row">
            <div class="col-6">
            <div class="form-group">
              <label for="country-name">Country name</label>
              <input type="text" id="country-name" class="form-control" formControlName="countryName">
            </div>
          </div>
            <div class="col-6">
            <div class="form-group">
              <label for="capital">Capital</label>
              <input  id="capital" class="form-control" formControlName="countryCapital">
              <span class="help-block" *ngIf="!countryForm.controls.countryCapital.valid && countryForm.controls.countryCapital?.errors?.forbiddenCapital">This capital is forbidden</span>
            </div>
          </div>
            </div>
            <div class="row">
              <div class="col-6">
            <div class="form-group">
              <label for="population">Population</label>
              <input  id="population" class="form-control" formControlName="population">
            </div>
          </div>
            <div class="col-6">
          <div class="form-group">
            <label for="flag">Flag</label>
            <select id="flag" class="form-control" formControlName="flag">
              <option *ngFor="let flag of arrayOfFlags" [value]="flag.value">{{flag.name}}</option>
            </select>
          </div>
        </div>
        </div>
          <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" [disabled]="countryForm.invalid">Submit</button>
        </form>
   </div>
  </section>

  <div class="container mt-5">
      <pre>is valid: {{countryForm.valid}}</pre>
      <pre>form object: {{countryForm.value | json}}</pre>
      <pre>country name: {{countryForm.controls.countryName.errors | json}}</pre>
  </div>