<sda-nav [title]="parentTitle" (tabChangeEvent)="tabNo = $event"></sda-nav>
<router-outlet></router-outlet>

















<!-- <sda-playground *ngIf="tabNo === 1"></sda-playground>
<sda-table *ngIf="tabNo === 2"></sda-table>
<sda-form *ngIf="tabNo === 3"></sda-form>
<sda-login *ngIf="tabNo === 4"></sda-login> -->